// Generals

//Importo Bootstrap
@import '~bootstrap/scss/bootstrap';

//Importo Font
@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/700.css';

//Importo variabili
@import './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background-color: $bg;
    height: 100vh;
}